requests
charset-normalizer
idna
urllib3
certifi

numpy
protobuf
filelock
fsspec
packaging
pyyaml
tqdm

huggingface-hub==0.28.1
tokenizers
ctranslate2==4.7.2
onnxruntime
av
faster-whisper==1.2.1

pyperclip
PyAudio
scipy
pygame
pillow
edge-tts
soundfile
PySide6
